body {
	background: #575757;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.intro {
	font-weight: bold;
}

.do {
	color: #51DF70;
}

.dont {
	color: #FF3D3D;
}

.done {
	font-family: 'Rock Salt', cursive;
	text-decoration: line-through;
	text-decoration-color: red;
}

.logo {
	padding-top: 25px;
}

h1 {
	font-family: 'Oswald', sans-serif;
	color: white;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 80px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	color: white;
	text-transform: uppercase;
	font-weight: 800;
}

p {
	color: white;
}

label {
	color: white;
}

button {
	margin: 1rem 0rem 1rem 0rem;
}

ul {
	text-align: left;
}

#third {
	color: #6CBBE0;
	margin-bottom: 30px;
}

ul {
	text-align: left;
	margin-top: 20px;
}


li {
	list-style: none;
	padding: 10px 20px;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #025f70;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #4EB9CD;
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
	width: 100%;
}

li:hover {
	background: #76CFE0;
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}

input {
	border-radius: 5px;
	min-width: 65%;
	padding: 5px;
	border: none;
}

.delete {
	display: none;
}

.results {
	display: none;
}
